RewriteEngine on

# rewrite assets directory to statics
RewriteRule ^assets/(.*)$ statics/$1

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php