body {
    margin: 0 auto;
    width: 1000px;
}

#header {
    background: yellow;

    
}

#header ul {
    margin: 0;
}

#content {
    background: red;
    height: 300px;
    margin-right: 300px;

    
}

#sidebar {
    background: blue;

    height: 100%;
    margin-left: 700px;
    position: absolute;
    top: 0;
    width: 300px;
}

#footer {
    background: pink;
    height: 50px;

    
}

#chat {
    background: green;

    bottom: 0;
    height: 30px;
    position: fixed;
    right: 40px;
    width: 120px;
}