/**
 * Global style
 */
body,
input,
textarea
{
    font-size: 16px;
    font-family: '微軟正黑體', '\5FAE\x8F6F\6B63\9ED1\4F53', 'Microsoft JhengHei', '微软雅黑', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', 'WenQuanYi ZenHei', 'Segoe UI', Arial, sans-serif;
}

body
{
    background: #DCE4ED url('../images/header.png') repeat-x;
    margin: 0 auto;
    overflow-y: scroll;
    width: 1000px;
}

form
{
    margin: 0;
}

form dt,
form dd
{
    width: 100%;
}

form dl
{
    margin: 4px 0;
    overflow: hidden;
    padding: 3px 0;
}

form dt
{
    clear: left;
    float: left;
    height: 24px;
    margin-left: 6px;
    width: 85%;
}

form dd
{
    clear: right;
    float: right;
    margin-top: -26px;
    overflow: hidden;
}

form input,
form textarea
{
    font-size: 0.85em;
}

form input,
form textarea,
form button
{
    -webkit-border-radius: 5px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 16px;
    padding: 4px 8px;
}

form textarea
{
    height: 160px;
}

form button
{
    height: 24px;
}

form input:focus,
form textarea:focus
{
    position: relative;
}

form label
{
    color: #474747;
    position: relative;
}

a
{
    color: #5C5C5C;
    text-decoration: none;
}

a:hover
{
    color: #7C7C7C;
}

.ui-dialog
{
    position: absolute;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
}

.scroll-container
{
    overflow: hidden;
    position: relative;
}

.scroll-container .scroll-area
{
    position: absolute;
    top: 0;
    width: 100%;
}

.scroll-container .scroll-bar
{
    display: none;
    height: 100%;
    right: 2px;
    position: absolute;
    top: 0;
    width: 8px;
}

.scroll-container .scroll-track
{
    position: relative;
    height: 100%;
}

.scroll-container .scroll-dragable
{
    -webkit-border-radius: 5px;
    background: #000000;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    top: 0;
}

.loading
{
    background: url('../images/loading.png');
    height: 128px;
    left: 50%;
    margin: -64px 0 0 -64px;
    position: relative;
    top: 50%;
    width: 128px;
}

.overlay
{
    background: #000000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
}

.confirm,
.alert
{
    background: #FFFFFF;
    border: 1px solid #333333;
    height: 160px;
    position: fixed;
    width: 320px;
}

.confirm-message,
.alert-message
{
    border-bottom: 1px solid #333333;
    display : table-cell;
    height: 80px;
    margin: 0;
    padding: 20px;
    text-align: center;
    vertical-align : middle;
    width: 320px;
}

.confirm-buttons
{
    height: 40px;
    text-align: center;
}

.confirm-button
{
    background: #FFFFFF;
    border: 1px solid #333333;
    height: 30px;
    line-height: 18px;
    margin: 5px 10px;
    padding: 5px 15px;
}

#lightbox
{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#lightbox-box
{
    background: #FFFFFF;
    height: 320px;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 320px;
}

#lightbox-loading
{
    position: absolute;
}

#lightbox-image
{
    position: absolute;
    padding: 10px;
}

#lightbox-prev,
#lightbox-next
{
    display: block;
    height: 100%;
    opacity: 0;
    width: 50%;
}

#lightbox-prev
{
    background: url('../images/lightbox_prev.png') left center no-repeat;
    left: 0;
    float: left;
}

#lightbox-next
{
    background: url('../images/lightbox_next.png') right center no-repeat;
    right: 0;
    float: right;
}

#lightbox-prev:hover,
#lightbox-next:hover
{
    opacity: 1;
}

#lightbox-navigation
{
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#lightbox-details
{
    background: #FFFFFF;
    font-size: 0.8em;
    line-height: 1.4em;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px 0;
    width: 100%;
}

#lightbox-details
{
    color: #666666;
    padding: 0 10px;
    position: relative;
}

#lightbox-caption
{
    font-weight: bolder;
}

#lightbox-page
{
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}

#lightbox-close
{
    background: url('../images/lightbox_close.png');
    height: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 66px;
}

/**
 * Layout style
 */
#logo,
#moon
{
    background: url('../images/logo.png') no-repeat;
    display: block;
    height: 160px;
    position: absolute;
    text-indent: -100000%;
    width: 240px;
}

#moon
{
    background: url('../images/moon.png') -640px -800px no-repeat;
    margin-left: 15px;
    width: 160px;
}

#header
{
    height: 240px;
}

#header .statics
{
    margin: 15px 0 0 240px;
    position: absolute;
}

#header .statics p
{
    color: #FFDD00;
    float: left;
    font-family: Consolas, Courier New, monospace;
    font-size: 1.1em;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 4px 0 4px 85px;
    width: 45px;
}

#header .online
{
    background: url('../images/online.png') no-repeat;
}

#header .browsered
{
    background: url('../images/browsered.png') no-repeat;
}

#menu
{
    list-style: none;
    margin: 120px 0 0 400px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#menu li
{
    -webkit-border-radius: 15px;
    background: #E1E5EE;
    border-radius: 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    padding: 2px 10px;
    text-align: center;
}

#menu a
{
    color: #414141;
}

#navigation
{
    background: url('../images/navigation.png') no-repeat;
    list-style: none;
    margin: 160px 0 0 0;
    padding: 0 15px;
    position: absolute;
    width: 800px;
}

#navigation li
{
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 110px;
}

#navigation a
{
    color: #210530;
    font-weight: bolder;
}

#navigation a:hover
{
    color: #FFFFFF;
}

#navigation ul
{
    -webkit-border-radius: 0 0 15px 15px;
    background: #DAE3EC;
    background: rgba(170, 190, 215, 0.7);
    border-radius: 0 0 15px 15px;
    list-style: none;
    margin: -16px 0 0 10px;
    padding: 0 0 8px;
    position: relative;
    visibility: hidden;
    width: 100px;
    z-index: 100;
}

#navigation ul li
{
    float: none;
    height: 30px;
    line-height: 30px;
    padding: 4px 0;
    width: 100px;
}

#navigation ul a
{
    color: #000A3C;
}

#navigation ul a:hover
{
    color: #000300;
}

#navigation li:hover ul
{
    visibility: visible;
}

#content
{
    margin: 0 225px 0 25px;
    overflow: hidden;
}

#footer
{
    background: url('../images/footer.png');
    clear: both;
    height: 120px;
}

#footer p
{
    font-size: 0.85em;
    margin: 0;
    padding: 0;
    position: relative;
    right: 30px;
    text-align: center;
    top: 80px;
}

/**
 * Sidebar style
 */
#sidebar
{
    height: 100%;
    margin-left: 800px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar .profile
{
    margin: 15px 0;
}

#sidebar div.profile
{
    -webkit-border-radius: 10px;
    background: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}

#sidebar .profile img
{
    float: left;
    height: 48px;
    margin: 3px;
    width: 48px;
}

#sidebar .profile p
{
    height: 42px;
    line-height: 42px;
    margin: 3px 0 3px 55px;
    padding: 3px;
    text-align: center;
}

#sidebar form.profile dl
{
    margin-left: 10px;
}

#sidebar form.profile input
{
    width: 160px;
}

#sidebar form.profile div
{
    text-align: center;
}

#sidebar form.profile button
{
    border: none;
    cursor: pointer;
    height: 25px;
    line-heigth: 25px;
    margin: 0 10px;
    text-indent: -100000px;
    width: 55px;
}

#sidebar .sidebar-box
{
    -webkit-border-radius: 10px;
    background: #EEF2F6;
    border-radius: 10px;
    height: 185px;
    margin: 5px 0;
    padding: 5px;
}

#sidebar .sidebar-box h4
{
    -webkit-border-radius: 10px;
    background: #DCE4ED;
    border-radius: 10px;
    color: #210520;
    font-size: 1.2em;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#sidebar .links ul
{
    list-style: none;
    padding: 0 15px;
}

#sidebar .links li
{
    float: left;
    margin: 3px 0;
    width: 50%;
}

#form-sidebar-login
{
    background: url('../images/login.png');
}

#form-sidebar-register
{
    background: url('../images/register.png');
}

#sidebar-personal
{
    -webkit-border-radius: 10px;
    background: #FFFFFF url('../images/personal.png') center top;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: none;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 190px;
}

#sidebar-personal ul
{
    list-style: none;
    height: 120px;
}

#sidebar-personal li
{
    height: 30px;
    line-height: 30px;
}

#sidebar-personal li a
{
    color: #040270;
}

#sidebar-personal-toggle
{
    background: url('../images/arrow-down.png');
    display: block;
    float: right;
    height: 16px;
    margin-top: -12px;
    width: 16px;
}

#sidebar-personal-toggle.active
{
    background: url('../images/arrow-up.png');
}

#sidebar-personal-button,
#sidebar-logout-button
{
    border: 2px solid #939495;
    padding: 3px;
    position: absolute;
    right: 24px;
    width: 32px;
}

#sidebar-personal-button
{
    height: 32px;
    line-height: 16px;
    top: 48px;
}

#sidebar-logout-button
{
    height: 16px;
    line-height: 16px;
    top: 96px;
}

/**
 * Chat style
 */
#chat
{
    background: url('../images/chat.png') 0 5px no-repeat;
    bottom: 0;
    cursor: pointer;
    height: 120px;
    margin: -120px 0 0 830px;
    position: fixed;
    width: 160px;
}

#chat .online-friends
{
    margin: 40px 0 0 85px;
    position: absolute;
    text-align: center;
}

#chat .friendcounts:before
{
    content: '\A';
    white-space: pre;
}

#chat-friend-list
{
    -webkit-border-radius: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    bottom: -10px;
    height: 0;
    margin: -120px 0 0 830px;
    max-height: 242px;
    opacity: 0.9;
    padding: 5px;
    position: fixed;
    width: 160px;
}

#chat-friend-list span
{
    -webkit-border-radius: 10px;
    height: 20px;
    color: white;
    line-height: 20px;
    border-radius: 10px;
    background: #262a76;
    text-align: center;
    display: block;
    cursor: pointer;
}

#chat-friend-list img
{
    border: 2px solid #000000;
    height: 35px;
    float: left;
    margin: 3px;
    width: 35px;
}

#chat-friend-list p
{
    margin-left: 50px;
}

#chat-friend-list-search
{
    border: 2px solid #d7d7d7;
    margin: 5px 0;
    outline: none;
    width: 136px;
    height: 20px;
    padding: 0 0 0 20px;
    background: url('../images/friend_list_search.png') no-repeat;
}

#chat-friend-list .friend-list-entry
{
    height: 45px;
    line-height: 45px;
}

#chat-friend-list .friend-list-entry:hover
{
    background: #EEEEEE;
    cursor: pointer;
}

.chat-dialog
{
    background: #FFFFFF;
    bottom: 0px;
    height: 200px;
    margin-right: 10px;
    opacity: 0.9;
    position: fixed;
    width: 160px;
}

.chat-dialog .chat-title
{
    background: #7097f2;
    cursor: pointer;
    height: 30px;
    width: 160px;
}

.chat-dialog .chat-title span
{
    background: url('../images/chat_online.png') no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin: 6px;
    width: 16px;
}

.chat-dialog .chat-title span.offline
{
    background: url('../images/chat_offline.png') no-repeat;
}

.chat-dialog .chat-title p
{
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 6px 0;
    width: auto;
}

.chat-dialog .chat-title button
{
    background: url('../images/chat_close.png') 50% 50% no-repeat;
    border: 0;
    float: right;
    height: 16px;
    margin: 7px;
    padding: 0;
    width: 16px;
}

.chat-dialog .chat-title button:hover
{
    background: white url('../images/chat_close.png') 50% 50% no-repeat;
    cursor: pointer;
}

.chat-dialog .scroll-container
{
    height: 150px;
}

.chat-dialog .scroll-area
{
    margin: -3px 0;
    width: 160px;
}

.chat-dialog .chat-display
{
    padding: 0 5px;
    width: 150px;
}

.chat-dialog .chat-display p
{
    margin: 0;
    padding: 0;
}

.chat-dialog .chat-form
{
    height: 20px;
}

.chat-dialog .chat-input
{
    border-top: 1px solid black;
    border-radius: 0;
    height: 19px;
    margin: 0;
    outline: none;
    padding: 0 5px;
    width: 150px;
}

/**
 * Search style
 */
input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus
{
    border-color: #D9D9D9;
}

input.gsc-search-button,
input.gsc-search-button:hover,
input.gsc-search-button:focus
{
    border-color: #2F5BB7;
    background-color: #357AE8;
    background-image: none;
    filter: none;
}

tr.gsc-completion-selected
{
    background: #B4C8C8;
    background: rgba(180, 200, 200, 0.7);
}

table.gsc-completion-container
{
    -webkit-border-radius: 0 0 5px 5px;
    border: none;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
    padding: 5px 0;
}

#search
{
    margin: 8px 0 0 580px;
    position: absolute;
    height: 90px;
    width: 220px;
}

#search input
{
    padding-right: 30px;
    width: 174px;
}

#search button
{
    background: url('../images/search_box_icon.png') no-repeat;
    border: none;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: -30px 4px 0 0;
    position: relative;
    text-indent: -100000px;
    width: 32px;
    z-index: 10000;
}

#result
{
    margin: 0 auto;
}

#result .gs-title
{
    text-decoration: none;
}

#result a.gs-title:link,
#result a.gs-title:visited
{
    color: #5C5C5C;
}

#result a.gs-title:hover
{
    color: #7C7C7C;
}

#result .gs-snippet
{
    text-indent: 2em;
}

#result .gsc-above-wrapper-area,
#result .gsc-result
{
    border-bottom: 3px solid #FFFFFF;
}

#result .gsc-cursor-box
{
    margin: 15px;
}

#result .gsc-cursor-page
{
    border: 3px solid #5C5C5C;
    height: 25px;
    padding: 5px;
    width: 25px;
}

#result .gsc-cursor-page:hover
{
    border: 3px solid #7C7C7C;
    background: #5C5C5C;
    color: #FFFFFF;
}

#result .gsc-cursor-current-page
{
    border: 3px solid #7C7C7C;
}

#readme-list ul li
{
    list-style: none;
}

#readme-menu
{
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#nculife-wrapper
{
     position: relative;
}

#caption
{
    position: absolute;
    top: 0;
    left: -300px;
}

#caption ul
{
    background: url('../images/background.png') repeat;
    width: 300px;
    height: 200px;
    float: left;
}

#caption a
{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    background: url('../images/chat.png');
}

ul#nculife-details
{  
    margin: 0;
    padding: 0;
}

#readme-direct
{
    width: 50px;
    height: 50px;
    display: block;
}

/* #readme-direct img
{
    width: 50px;
    height: 50px;
} */

/**
 * Index style
 */
#marquee
{
    -webkit-border-radius: 10px;
    background: #FEFFB2;
    border-radius: 10px;
    height: 30px;
    list-style: none;
    margin: 5px 0;
    overflow: hidden;
    padding: 0 60px 0 45px;
}

#marquee li
{
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    width: 100%;
}

#marquee span
{
    background: url('../images/marquee_star_icon.png') no-repeat;
    display: block;
    height: 50px;
    margin: -15px 0 0 -55px;
    position: absolute;
    width: 50px;
}

#marquee a
{
    color: #F2843B;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 430px;
    position: absolute;
    width: 45px;
}

#index-calendar
{
    float: left;
    width: 30%;
}

#index-calendar .calendar-top
{
    width: 204px;
    height: 85px;
}

#index-calendar .calendar-top-all-nologin
{
    background: url('../images/calendar_top2.png');
}

#index-calendar .calendar-top-all-login
{
    background: url('../images/calendar_top.png');
}

#index-calendar .calendar-top-personal
{
    background: url('../images/calendar_top3.png');
}

#index-calendar .calendar-bottom-wrap
{
    background: #FFEDB7;
    border-radius: 0 0 15px 15px;
    float: left;
    overflow: hidden;
    position: absolute;
    width: 204px;
    height: 355px;
}

#index-calendar .calendar-bottom-wrap table.calendar-table caption
{
    margin:  15px 0 10px 0 ;
}

#index-calendar .calendar-bottom-wrap table.calendar-table td
{
    text-align: right;
    width: 28px;
    cursor: pointer;
}

#index-calendar .calendar-bottom-wrap table.calendar-table thead
{
    display: block;
}

#index-calendar .calendar-bottom-wrap table.calendar-table thead td
{
    color: #af8d5a;
    text-align: center;
}

#index-calendar .calendar-bottom-wrap table.calendar-table thead td.weekend
{
    color: red;
}

#index-calendar .calendar-bottom-wrap table.calendar-table 
{
    width: 204px;
}

#index-calendar .calendar-bottom-wrap table.calendar-table tbody
{
    border-top: 1px solid #946722;
    border-bottom: 1px solid #946722;
    display: block;
}

#index-calendar .calendar-bottom-wrap table.todolist-table td
{
    width: 100px;
    text-align: center;
}

#index-calendar .calendar-bottom-wrap table.todolist-table thead td
{
    color: #946722;
}

#index-calendar .calendar-top a{
    margin-top: 51px;
    height: 33px;
    width: 102px;
    float: left;
    display: inline-block;
}

#index-calendar .calendar-top a#calendar-all
{
}

#index-calendar .calendar-top a#calendar-personal
{
}

#index-calendar .calendar-top a
{
}

#index-container
{
    float: right;
    width: 70%;
}

.index-box
{
    -webkit-border-radius: 10px;
    background: #CBD3E6;
    border-radius: 10px;
    margin-left: 1%;
    min-height: 400px;
    width: 49%;
}

.index-box h4
{
    height: 25px;
    margin: 5px;
    text-indent: -100000px;
    width: 80px;
}

.index-box table
{
    width: 100%;
}

.index-box td
{
    padding: 4px;
    width: 85%;
}

.index-box td.time
{
    text-align: right;
    width: 15%;
}

.index-box tfoot
{
    text-align: right;
}

.index-latest-box
{
    clear: left;
    float: left;
}

.index-latest-box h4
{
    background: url('../images/index_latest_icon.png') no-repeat;
}

.index-forums-box
{
    clear: right;
    float: right;
}

.index-forums-box h4
{
    background: url('../images/index_forums_icon.png') no-repeat;
}

.news-dialog-warp
{
    background: white;
}

.news-dialog
{
    display: none;
}

/**
 * Multimedia style
 */

#mm-container
{
}

#mm-sidebar
{
    width: 25%;
    float: left;
}

#mm-menu
{
    width: 100%;
    height: 400px;
    background: skyblue;
    overflow: hidden;
}

#mm-menu button
{
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    position: absolute;
    color: black;
    width: 187px;
    height: 50px;
    background: white;
    opacity: 0;
    z-index: 100;
}

#mm-menu #mm-menu-items
{
    margin-top: 0;
}

#mm-menu button:hover
{
    opacity: 0.9;
    cursor: pointer;
}

#mm-menu button.mm-menu-down
{
    margin-top: 350px;
}

#mm-menu a
{
    display: block;
    width: 100%;
    height: 140px;
    display: block;
    text-decoration: none;
    opacity: 1;
}

#mm-menu a:hover
{
    opacity: 0.8;
}

#mm-menu a span
{
    color: white;
    position: relative;
    height: 16px;
    display:block;
    margin-bottom: -16px;
    top: 124px;
    left: 0;
    text-align: right;
    background: black;
    opacity: 0.5;
    padding: 0 8px 0 0;
}

#mm-menu a img
{
    width: 100%;
    height: 100%;
}

#mm-player
{
    width: 100%;
    height: 200px;
    background: blue;
}

#mm-content
{
    width: 75%;
    float: left;
}

#mm-video
{
    background: #000000;
    height: 400px;
    position: relative;
    width: 100%;
}

#mm-video .loading
{
    position: absolute;
}

#mm-video-frame
{
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

#mm-introduction
{
    width: 100%;
    height: 200px;
    background: gray;
}

#mm-introduction .text
{
    width: 65%;
    height: 100%;
    background: red;
    float: left;
}

#mm-introduction .pic
{
    background: yellow;
    width: 35%;    
    height: 100%;
    float: left;
}

/**
 * Nculife style
 */
#nculife-dialog
{
    display: none;
    height: 500px;
    width: 200px;
}

#nculife-dialog p
{
    margin: 0;
    padding: 20px;
}

.nculife-dialog
{
    background: white;
    height: 620px;
    width: 315px;
    top: 200px;
    left: 145px;
    position: absolute;
    background: url('../images/life_background2.png');
}

#ui-dialog-title-life-dialog
{
    width: 550px;
    height: 150px;
    display: block;
    padding: 0 0 0 0;
    background: url('../images/life_title.png');
}

.nculife-dialog .ui-dialog-title
{
    /* background: black;
    width: 585px;
    height: 500px;
    color: red;
    margin-right: 100px;
    font-size: 50px;
    background: url('../images/life_title.png'); */
    
    
}

.nculife-dialog .ui-icon-closethick
{
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    left: 620px;
    top: 20px;
    position: absolute;
    background: url('../images/life_exit.png');
}

#nculife-dh
{
    background: pink;
   width: 498px;
    height: 25px;
    left: 113px;
    top: 75px;
    position: absolute;
}
.dialog-close-button
{
    position: absolute;
    width: 40px;
    height: 40px;   
    top: 20px;
    left: 550px;
    background: url('../images/life_exit.png');
}

#nculife-title
{
    width: 512px;
    height: 111px;
    position: absolute;
    background:url('../images/life_title.png');
}

#nculife-title h4
{
    font-size: 2em;
    margin: 20px 0 0 10px;
    text-align: center;
    width: 120px;
}

#nculife-dh a
{
    margin-left: 10px;
}

#nculife-dh a:hover
{
    text-decoration: underline;
}

#nculife-db
{
    width: 610px;
    height: 290px;
}

#nculife-cv
{
    width: 598px;
    height: 190px;
    /* background: green; */
    position: absolute;
    top: 110px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* #nculife-ct
{
    width: 295px;
    height: 100px;
    background: gray;
    position: absolute;
    top: 212px;
    left: 120px;
} */

#nculife-dh a
{
    width: 50px;
    height: 50px;
}

#nculife-dh li
{
    float: left;
    list-style: none;
}



ul.life-index li:hover ul.life-indexs
{
    display: block;
    background: white;
    color: black;
}

ul.life-indexs 
{
    margin: -1px;
    padding: 0;
    display: none;
}

ul.life-index li
{
    list-style: none;
    float: left;
    width: 100px;
    height: 20px;
    text-align: center;
    background: black;      
    color: white; 
    border: 1px solid red;
    padding: 0;
    display: block;
    cursor: pointer;
}

ul.life-index li:hover
{
    background: white;
    color: black;
    border: 1px solid red;
}

ul.life-indexs-inner
{
    display: none;
}

ul.life-indexs li.life-indexs-content:hover
{
    background: red;
    color: black;
}

.ncu-index
{
    list-style: none;
}

#life-head
{
    width: 740px;
    height: 270px;
    margin-bottom: -20px;
    background: url('../images/life_head.png');
}

#life-container
{
    width: 750px;
    height: 1000px;
    position:relative;
    padding: 0;
}

#life-body
{
    height: 400px;
    width: 740px;
    background: url('../images/life_line.png') repeat-y;
}

#life-bottom
{
    width: 740px;
    height: 40px;
    background: url('../images/life_bottom.png');
}

#life-dialog
{
    display: none;
    width: 900px;
    height: 1000px;
    background: url('../images/life_dialog.png');
    
    
}

#life-health a
{
    background: url('../images/life_health.png');
}

#life-live
{
    position: absolute;
    width: 170px;
    height: 200px;
    top: 20px;
    /* background: red; */
}

#life-live:hover
{
    
}

#about ul
{
    list-style-type: none;
}

#about h4
{
    float: top;
    background: black;
    color: white;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    font-family: 'Microsoft YaHei Mono';
    font-size:40px;
}

#about .block1
{
    background: url('../pp.jpg');
}

#about .block2
{
    background: url('../images/');
}

#about .block3
{
    background: url('../images/');
}

#about .back
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    width: 750;
    height: 400;
}

#about .art
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 0px;
    width: 50;
    height: 40;
}

#about .pro
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 50px;
    width: 50;
    height: 40;
}

#about .vdo
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    width: 50;
    height: 40;
}

#about .des
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    width: 50;
    height: 40;
}

#about .boss
{
    background: url('');
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    width: 50;
    height: 40;
}

#about .information
{
    
}

#about .tagbar
{
}

/**
 * Facebook style
 */
#fb-like
{
    margin-left: 710px;
    padding: 2px;
    position: absolute;
    top: 120px;
}

#fb-login-button
{
    background: url('../images/fblogin.png');
    display: block;
    height: 32px;
    margin: 5px auto -10px;
    text-indent: -100000%;
    width: 96px;
}

/**
 * Club style
 */
#club-list
{
    text-align: left;
    overflow: hidden;
}

#club-list ul
{
    float: left;
    padding: 0;
    width: 25%;
}

#club-title
{
    background-color: yellow;
    font-weight: bold;
}

#club-display
{
	float: right;
	width: 590px;
}
#club-display
{
    float: right;
    width: 600px;
}

.club-picture1
{
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: block;
}

.club-picture1 img
{
    border: 5px solid #FFFFFF;
    width: 150px;
    height: 100px;
}

.club-picture2
{
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: block;
}

.club-picture2 img
{
    border: 5px solid #FFFFFF;
    height: 100px;
    width: 150px;
}

.club-picture3
{
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: block;
}

.club-picture3 img
{
    border: 5px solid #FFFFFF;
    height: 100px;
    width: 150px;
}

.club-picture4
{
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: block;
}

.club-picture4 img
{
    border: 5px solid #FFFFFF;
    height: 100px;
    width: 150px;
}

.club-picture-display1 img
{
    width: 800px;
    height: 600px;
    margin-left: 10px;
}

.club-picture-display2 img
{
    width: 800px;
    height: 600px;
}

.club-picture-display3 img
{
    width: 800px;
    height: 600px;
    margin-left: 10px;
}

.club-picture-display4 img
{
    width: 800px;
    height: 600px;
    margin-left: 10px;
}

#club-picture-dialog1
{
	display: none; 	
	background: white;
	width: 850px;
	height: 800px;
	position: relative;
    overflow: visible;

}

#club-picture-dialog2
{
    display: none;     
    background: white;
    width: 850px;
    height: 650px;
    position: relative;

}

#club-picture-dialog3
{
    display: none;     
    background: white;
    width: 850px;
    height: 650px;
    position: relative;

}

#club-picture-dialog4
{
    display: none;     
    background: white;
    width: 850px;
    height: 650px;
    position: relative;

}

#club-underpicture
{

	float:left;
	width:150px;
	height:400px;
}

#club-picture-menu
{
	width: 160px;
    height: 700px;
    background: skyblue;
    overflow: hidden;
}

#club-menu-items
{
    margin-top:5px;
    width:150px;
    height:500px;
}

#club
{
    margin-center:auto;
}
.mygroup
{
    font-size:30px;
    color:red;
    margin-top:100px;
    margin-left:50px;

}
div.group-friends
{
    background-color:yellow;
    display: none;
}

div.friend
{
    background-image:url('../profile/friend.png');
    background-repeat:no-repeat ;
    width:700px;
    height:430px;
    padding:0px;
    border:5px solid gray;
    margin:10px;
}

div.add-friend
{
    display:inline-block;
    width:700px;
    height:230px;
}

div.friend img
{
    border: 1px solid green;
}

div.other-department
{
    background-image:url('../profile/otherD.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
   /* overflow-y:none;*/
}

div.sameDsameG
{
    background-image:url('../profile/sameDsameG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
   /* overflow-y:none;*/
}

div.sameDdiffG
{
    background-image:url('../profile/sameDdiffG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
   /* overflow-y:none;*/
}

div.myfriend
{
    background-image:url('../profile/sameDdiffG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
   /* overflow-y:none;*/
}

div.myprofile
{
    background-image:url('../profile/profile.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
}

div.mygroup
{
    background-image:url('../profile/sameDdiffG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
}

div.user-image
{
    float:left;
}

div.newgroup
{
    background-image:url('../profile/sameDsameG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
}

div.newmember
{
    background-image:url('../profile/sameDsameG.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
}

div.allgroup
{
    background-image:url('../profile/otherD.png');
    width:740px;
    height:416px;
    padding:0px;
    margin:10px;
    overflow-y:hidden;  
}

ul.member-name-department li
{
    width: 100px;
    height: 20px;
    display: block;
    list-style-type:none;
    font-family:微軟正黑體;
    font-size: 15px;
    text-align:left;
    color:DarkViolet;
}

ul.user-profile li
{
    width: 700px;
    height: 50px;
    display: block;
    list-style-type:none;
    font-family:微軟正黑體;
    font-size: 20px;
    text-align:center;
    color:Fuchsia;
}

ul.user-editor li
{
    width: 700px;
    height: 50px;
    display: block;
    list-style-type:none;
    font-family:微軟正黑體;
    font-size: 20px;
    text-align:center;
    color:Indigo;
}

ul.introduce-group li
{
    width: 600px;
    height: 100px;
    display: block;
    list-style-type:none;
    font-family:微軟正黑體;
    font-size: 20px;
    text-align:center;
    color:Indigo;
}
#introduce
{
    width: 600px;
    height: 50px;
    display: block;
    font-family:微軟正黑體;
    font-size: 30px;
    text-align:left;
    color:DarkMagenta ;
}
table.group
{
    float:left;
    height:150px;
    width:200px;
    border-right-style:dotted;
    margin:0px;
}

label.group-friends-name
{
    color:red;
    background-color:green;
}

.etmomi
{
    background: url('../1.jpg');
    width:30px;
    height:30px;
    display:block;
}

.etmomi:hover
{
    background: url('../2.png');
    width:300px;
    height:300px;
    display:block;
}

table.other-page
{
    border:0px;
    width:90%; 
    height:70%;
}

.close-group
{
    float:right;
}

.form-friends-sort-title
{
    color: yellow;
    font-size: 30px;
    text-align: left;
    font-family:"Times New Roma";
}

.form-friends-title
{
    color: yellow;
    font-size: 20px;
    text-align: left;
}

.friend-title
{
    color: green;
    font-size: 20px;
    text-align: center;
}

.mygroup-name
{
    border: 5px solid gray;
    color: blue;
    font-size: 20px;
    text-align: center;
}

.friends-title
{
    text-lign: left;
    color: DeepPink; /* NOTE */
}

tr.friends-title
{
    margin: 0px;
}

td.friends-close-ones
{
    height: 5%;
    width: 5%;
    margin: 0px;
}

img.user_img
{
    height:50%;
    width:80%;
    height: 50%;
    width: 80%;
}

#notfound
{
    background: url('../images/notfound.png');
    height: 450px;
    position: relative;
    width: 750px;
}

#notfound h2
{
    display: none;
}

#notfound p
{
    left: 70px;
    position: absolute;
    top: 195px;
}

#notfound ul
{
    left: 50px;
    position: absolute;
    top: 225px;
    width: 280px;
}

#notfound a
{
    background: url('../images/back.png');
    display: block;
    height: 40px;
    left: 160px;
    position: absolute;
    text-indent: -100000%;
    top: 375px;
    width: 115px;
}

#notfound a:hover
{
    background: url('../images/back_hover.png');
}


/**
 * Game
 */
div.game-system
{
    background: url('../game/gamesystem.png');
    width: 750px;
    height: 450px;
    display: inline-block;
}

div.user-body
{
    position:relative;
    margin: 43px 0 0 22px;
    overflow: hidden;
    width:250px;
    height:400px;
    float: left;
}

div.user-body img
{
    position: absolute;
    top: 0;
    left: 0;
    width:250px;
    height:400px;
}

div.function-body
{
    /* outline: 1px solid black; */
    width: 407px;
    height: 373px;
    margin: 54px 0 0 29px;
    float: left;
}

ul.game-button
{
    height: 31px;
    padding: 0;
    margin: 0;
    display: block;
}

ul.game-button li
{
    width: 80px;
    height: 31px;
    display: block;
    /* outline: 1px solid red; */
    float: left;
    margin-right: 1px;
    font-family:微軟正黑體;
    font-size: 24px;
    text-align:center;
    color:#b9b9b9;
}

div.game-display
{
    width: 378px;
    height: 312px;
    /* outline: 1px solid blue; */
    margin: 15px 0 0 15px;
    overflow-y:hidden;  
}

li.enabled a
{
    color:#66007c;
    font-weight: bold;
}

#forum-index
{
    background: url('../forum/index/background_1.png');
    border-radius: 20px;
    height: 400px;
    margin-left: 35px;
    padding-top: 50px;
    
}

#forum-index a
{
    display:block;
    width: 320px;
    height: 100px;
}
.index-forum1
{
    margin-left: 185px;
    background: url('../forum/index/forum_01.png');
}
.index-forum-list
{
    margin-left: 185px;
    background: url('../forum/index/forum_list.png');
}
.index-forum2
{
    margin-left: 185px;
    background: url('../forum/index/forum_02.png');
}
#forum-forumlist
{
    background: url('../forum/index/background_1.png');
    height:600px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
}
#forum-lists
{
    width:600px;
    height:500px;
    margin-left:50px;
    margin-top:50px;
}
#forum-lists a
{
    line-height: 24px;
}
#forum-lists .forum-list-1
{
    background: url('../forum/forum_list/category_01.png');
    width: 153px;
    height: 170px;
    float: left;
    padding-left:44px;
    padding-top:65px;
}
#forum-lists .forum-list-2
{
    background: url('../forum/forum_list/category_02.png');
    width: 153px;
    height: 170px;
    float: left;
    padding-top:65px;
    padding-left:44px;
}
#forum-lists .forum-list-3
{
    background: url('../forum/forum_list/category_03.png');
    width: 153px;
    height: 175px;
    margin-left: 400px;
    padding-top:60px;
    padding-left:44px;
}
#forum-lists .forum-list-4
{
    background: url('../forum/forum_list/category_04.png');
    width: 153px;
    height: 170px;
    float:left;
    margin-top:10px;
    padding-top:65px;
    padding-left:44px;
}
#forum-lists .forum-list-5
{
    background: url('../forum/forum_list/category_05.png');
    width: 153px;
    height: 170px;
    float:left;
    margin-top:10px;
    padding-top:65px;
    padding-left:44px;
}
#forum-lists .forum-list-6
{
    background: url('../forum/forum_list/category_06.png');
    width: 153px;
    height: 170px;
    margin-left: 400px;
    margin-top:10px;
    padding-top:65px;
    padding-left:44px;
}
