body,
input,
textarea
{
    font-size: 16px;
    font-family: "微軟正黑體", Arial, sans-serif;
}

body
{
    background: #DCE4ED url('header.png') repeat-x;
    margin: 0 auto;
    width: 1000px;
}

form dl,
form dt,
form dd
{
    margin: 0;
    height: 24px;
    width: 100%;
}

form dl
{
    margin: 4px 0;
    overflow: hidden;
    padding: 3px 0;
}

form dt
{
    clear: left;
    float: left;
    margin-left: 6px;
    width: 85%;
}

form dd
{
    clear: right;
    float: right;
    margin-top: -26px;
}

form input,
form textarea
{
    font-size: 0.85em;
}

form input
{
    -webkit-border-radius: 5px;
    border: none;
    border-radius: 5px;
    height: 16px;
    padding: 4px 8px;
}

form textarea
{
    -webkit-border-radius: 5px;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
}

form input:focus
{
    position: relative;
}

form label
{
    color: #474747;
    position: relative;
}

a
{
    color: #5C5C5C;
    text-decoration: none;
}

a:hover
{
    color: #7C7C7C;
}

#logo
{
    background: url('logo.png') no-repeat;
    height: 160px;
    margin-left: 15px;
    position: absolute;
    width: 240px;
}

#header
{
    height: 240px;
}

#header .statics
{
    margin: 15px 0 0 280px;
    position: absolute;
}

#header .statics p
{
    color: #FFDD00;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 85px;
    width: 45px;
}

#search
{
    margin: 8px 0 0 580px;
    position: absolute;
    height: 90px;
    width: 220px;
}

#search input
{
    padding-right: 30px;
    width: 174px;
}

#search button
{
    background: url('search_box_icon.png') no-repeat;
    border: none;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: -30px 4px 0 0;
    position: relative;
    text-indent: -100000px;
    width: 32px;
}

#header .online
{
    background: url('online.png') no-repeat;
}

#header .browsered
{
    background: url('browsered.png') no-repeat;
}

#tab
{
    list-style: none;
    margin: 120px 0 0 480px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#tab li
{
    -webkit-border-radius: 15px;
    background: #E1E5EE;
    border-radius: 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    padding: 2px 10px;
    text-align: center;
}

#tab a
{
    color: #414141;
}

#navigation
{
    background: url('navigation.png');
    list-style: none;
    margin: 160px 0 0 0;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    width: 800px;
}

#navigation li
{
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 110px;
}

#navigation a
{
    color: #210530;
    font-weight: bolder;
}

#navigation a:hover
{
    color: #FFFFFF;
}

#content
{
    margin-right: 200px;
    min-height: 360px;
    overflow: hidden;
}

#sidebar
{
    height: 100%;
    margin-left: 800px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar .profile
{
    height: 90px;
    margin: 15px 0;
}

#sidebar form.profile dl
{
    margin-left: 10px;
}

#sidebar form.profile input
{
    width: 160px;
}

#sidebar form.profile div
{
    text-align: center;
}

#sidebar form.profile button
{
    border: none;
    cursor: pointer;
    height: 25px;
    line-heigth: 25px;
    margin: 0 10px;
    text-indent: -100000px;
    width: 55px;
}

#sidebar .sidebar-box
{
    -webkit-border-radius: 10px;
    background: #EEF2F6;
    border-radius: 10px;
    height: 185px;
    margin: 5px 0;
    padding: 5px;
}

#sidebar .sidebar-box h4
{
    -webkit-border-radius: 10px;
    background: #DCE4ED;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#form-sidebar-login
{
    background: url('login.png');
}

#form-sidebar-register
{
    background: url('register.png');
}

#footer
{
    background: url('footer.png');
    clear: both;
    height: 120px;
}

#footer p
{
    font-size: 0.85em;
    margin: 0;
    padding: 0;
    position: relative;
    right: 30px;
    text-align: center;
    top: 80px;
}

#chat
{
    background: url('chat.png') 0 5px no-repeat;
    bottom: 0;
    cursor: pointer;
    height: 120px;
    margin: -120px 0 0 830px;
    position: fixed;
    width: 160px;
}

#chat .online-friends
{
    margin: 40px 0 0 85px;
    position: absolute;
    text-align: center;
}

#chat .friendcounts:before
{
    content: '\A';
    white-space: pre;
}

#chatlist
{
    -webkit-border-radius: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    bottom: -10px;
    height: 0;
    margin: -120px 0 0 830px;
    opacity: 0.7;
    padding: 5px;
    position: fixed;
    width: 160px;
}

#chatlist img
{
    border: 2px solid #000000;
    height: 35px;
    float: left;
    margin: 3px;
    width: 35px;
}

#chatlist p
{
    margin-left: 50px;
}

#chatlist .friend-list-entry
{
    height: 45px;
    line-height: 45px;
}

#chatlist .friend-list-entry:hover
{
    background: #EEEEEE;
    cursor: pointer;
}

.chat-dialog
{
    -webkit-border-radius: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    bottom: -10px;
    float: left;
    height: 200px;
    margin-right: 10px;
    opacity: 0.7;
    padding: 5px;
    position: fixed;
    width: 160px;
}

#marquee
{
    -webkit-border-radius: 10px;
    background: #FEFFB2;
    border-radius: 10px;
    height: 30px;
    list-style: none;
    margin: 5px 0;
    overflow: hidden;
    padding: 0 15px 0 45px;
}

#marquee li
{
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    width: 100%;
}

#marquee span
{
    background: url('marquee_star_icon.png') no-repeat;
    display: block;
    height: 50px;
    margin: -15px 0 0 -55px;
    position: absolute;
    width: 50px;
}

#marquee a
{
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 470px;
    position: absolute;
}

#index-calendar
{
    float: left;
    width: 30%;
}

#index-container
{
    float: right;
    width: 70%;
}

.index-box
{
    -webkit-border-radius: 10px;
    background: #CBD3E6;
    border-radius: 10px;
    margin-left: 1%;
    min-height: 400px;
    width: 49%;
}

.index-box h4
{
    height: 25px;
    margin: 5px;
    text-indent: -100000px;
    width: 80px;
}

.index-box table
{
    width: 100%;
}

.index-box td
{
    padding: 5px;
    width: 85%;
}

.index-box td.time
{
    text-align: right;
    width: 15%;
}

.index-box tfoot
{
    text-align: right;
}

.index-latest-box
{
    clear: left;
    float: left;
}

.index-latest-box h4
{
    background: url('index_latest_icon.png') no-repeat;
}

.index-forums-box
{
    clear: right;
    float: right;
}

.index-forums-box h4
{
    background: url('index_forums_icon.png') no-repeat;
}

#news-window
{
	display: none;
}

#mm-container
{
}
#mm-sidebar
{
	width: 25%;
	float: left;
}
#mm-menu
{
	width: 100%;
	height: 400px;
	background: white;
	overflow: hidden;
}

#mm-menu button
{
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	position: absolute;
	color: black;
	width: 200px;
	height: 50px;
	background: white;
	opacity: 0;
	z-index: 1000;
}

#mm-menu #mm-menu-items
{
	margin-top: 0;
}

#mm-menu button:hover
{
	opacity: 0.9;
	cursor: pointer;
}

#mm-menu button.mm-menu-up
{
	
}

#mm-menu button.mm-menu-down
{
	margin-top: 350px;
}
#mm-menu a
{
	display: block;
	width: 200px;
	height: 150px;
	display: block;
	text-decoration: none;
	opacity: 1;
}

#mm-menu a:hover
{
	opacity: 0.8;
}

#mm-menu a span
{
	color: white;
	position: relative;
	height: 16px;
	display:block;
	margin-bottom: -16px;	
	top: 134px;
	left: 0;
	text-align: right;
	background: black;
	opacity: 0.5;
}

#mm-menu a img
{
	width: 100%;
	height: 100%;
}
#mm-player
{
	width: 100%;
	height: 200px;
	background: blue;
}
#mm-content
{
	width: 75%;
	float: left;
}
#mm-video
{
	width: 100%;
	height: 400px;
	background: url(loading.gif) no-repeat black 225px 125px;
}
#mm-video-frame
{
	border: 0;
	padding: 0;
	margin: 0;
}
#mm-introduction
{
	width: 100%;
	height: 200px;
	background: gray;
}