body {
    background: #DCE4ED url('header.png') repeat-x;
    font-family: "微軟正黑體", Arial, sans-serif;
    margin: 0 auto;
    width: 1000px;
}

form dl dt,
form dl dd {
    margin: 0;
}

form dl dt {
    clear: left;
    float: left;
}

form dl dd {
    clear: right;
    float: right;
}

#logo {
    background: url('logo.png') no-repeat;
    height: 160px;
    margin-left: 15px;
    position: absolute;
    width: 240px;
}

#header {
    height: 240px;
}

#header .statics {
    margin: 15px 0 0 360px;
    position: absolute;
}

#tab {
    list-style: none;
    margin: 120px 0 0 480px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#tab li {
    -webkit-border-radius: 15px;
    background: #E1E5EE;
    border-radius: 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    padding: 2px 10px;
    text-align: center;
}

#tab a {
    color: #414141;
    text-decoration: none;
}

#navigation {
    background: url('navigation.png');
    list-style: none;
    margin: 160px 0 0 0;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    width: 800px;
}

#navigation li {
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 110px;
}

#navigation a {
    color: #210530;
    font-weight: bolder;
    text-decoration: none;
}

#navigation a:hover {
    color: #FFFFFF;
}

#content {
    margin-right: 200px;
    overflow: hidden;
}

#sidebar {
    height: 100%;
    margin-left: 800px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar .profile {
    height: 90px;
    margin-bottom: 30px;
}

#sidebar form.profile label {
    color: #474747;
}

#sidebar form.profile dt,
#sidebar form.profile dd,
#sidebar form.profile input {
    height: 15px;
    margin: 6px 0;
    padding: 3px 5px;
    width: 180px;
}

#sidebar form.profile dl {
    margin: 0;
    padding: 5px 0;
}

#sidebar form.profile dt {
    margin-left: 5px;
}

#sidebar form.profile dd {
    margin-top: -28px;
}

#sidebar form.profile label {
    position: relative;
}

#sidebar form.profile input {
    -webkit-border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 5px 0 -10px;
    width: 180px;
    
}

#sidebar form.profile input:focus {
    position: relative;
}

#sidebar form.profile div {
    margin-top: 5px;
    text-align: center;
}

#sidebar form.profile button {
    border: none;
    cursor: pointer;
    font-size: 0;
    height: 25px;
    line-heigth: 25px;
    margin: 0 10px;
    width: 55px;
}

#form-login-button {
    background: url('login.png');
}

#form-register-button {
    background: url('register.png');
}

#sidebar .sidebar_box {
    -webkit-border-radius: 10px;
    background: #EEF2F6;
    border-radius: 10px;
    height: 185px;
    margin: 5px 0;
    padding: 5px;
}

#sidebar .sidebar_box h4 {
    -webkit-border-radius: 10px;
    background: #DCE4ED;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#footer {
    background: url('footer.png');
    clear: both;
    height: 120px;
}

#footer p {
    font-size: 0.85em;
    margin: 0;
    padding: 0;
    position: relative;
    right: 30px;
    text-align: center;
    top: 80px;
}

#chat {
    background: url('chat.png') 0 5px no-repeat;
    height: 120px;
    margin: -120px 0 0 830px;
    position: absolute;
    width: 160px;
}

#marquee {
    -webkit-border-radius: 10px;
    background: #FEFFB2;
    border-radius: 10px;
    height: 30px;
    list-style: none;
    margin: 5px 0;
    overflow: hidden;
    padding: 0 15px 0 45px;
}

#marquee li {
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    width: 100%;
}

#marquee span {
    background: url('marquee_star_icon.png') no-repeat;
    display: block;
    height: 50px;
    margin: -15px 0 0 -55px;
    position: absolute;
    width: 50px;
}

#marquee a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 470px;
    position: absolute;
}

#index_calendar {
    float: left;
    width: 30%;
}

#index_container {
    float: right;
    width: 70%;
}

#index_news_box {
    clear: left;
    float: left;
}

#index_forums_box {
    clear: right;
    float: right;
}

.index_box {
    -webkit-border-radius: 10px;
    background: #CBD3E6;
    border-radius: 10px;
    margin-left: 1%;
    min-height: 400px;
    width: 49%;
}

#news-window
{
	display: none;
}